/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
#visibility-radio-private:checked ~ .warning,
#visibility-radio-password:checked ~ .warning {
  display: block;
  color: red;
}
.warning {
  display: none;
}
